body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}


/* Header */
h1 {
    background: #131921;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 32px;
}


/* Product Container */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}


/* Product Card */
.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}


.card:hover {
    transform: translateY(-8px);
}


/* Product Name */
.card h3 {
    color: #222;
    font-size: 22px;
}


/* Price */
.price {
    color: #b12704;
    font-size: 24px;
    font-weight: bold;
}


/* Stock */
.card p {
    font-size: 16px;
    color: #555;
}


/* Button */
button {
    background: #ff9900;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}


button:hover {
    background: #e68a00;
}
